@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff731c;
  }
  
  .navbar .logo {
    font-family: "Bungee Inline", sans-serif;
    color: #ffffff;
    font-size: 24px;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
  }
  
  .navbar .nav-links li {
    margin-left: 20px;
  }
  
  .navbar .nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
  }