.banner {
    background-image: url('../imgs/banner.png');
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    position: relative;
  }
  
  .banner-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 0.5vh 0.5vh 5px #ff731c;
  }
  
  .banner-content p {
    font-size: 20px;
    margin-bottom: 30px;
    
  }
  
  .banner-content .btn-cadastro {
    padding: 15px 30px;
    background-color: #ff6200;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
  }